body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    margin:15px 0 5px 0;
    padding-bottom:6px;
    border-top:50px solid transparent;
    margin-top:-50px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}

#content{
    padding-top:40px;
}

.rules{
    margin-bottom: 20px;
}

.rules p, li{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:26px;
}

.rules li{
    margin-bottom:6px;
}

.section_rules{
    border:2px solid #EEE;
    margin-bottom:20px;
    padding:10px;
}

.selected_heading{
    color:#C62437;
}

#following-menu{
    background-color: #361F4D;
    padding: 6px;
    position: fixed;
    width: 100%;
}

#following-menu a{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#following-menu a:hover{
    color: #999;
}

#table-of-contents{
    padding-top: 40px;
}

#footer{
    margin-top:60px;
    margin-bottom:60px;
}

.clear{
    clear:both;
}

.new{
    background-color:#D6FF9F;
    padding:4px;
}